* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    /* margin: 0.4em; */
}

h3 {
    font-size: 1.5em;
    /* margin: 0.3em; */
}

p {
    font-size: 1.2em;
    font-weight: lighter;
}


nav {
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
}

a {
    text-decoration: none;
}

.navbar-hyperlink {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
}

.navbar-hyperlink:hover {
    color: white;
    transition-duration: 0.5s;
}

.navbar-and-home {
    height: 100vh;
    color: white;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* background-color: #222; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(background-photo.jpg);
    background-size: cover;
    background-position: center;
}

/* Home Section Styles */
#home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* #about {
    position: relative;
    left: 50%;
    top: 00%;
    transform: translate(-50%, -50%);
} */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: whitesmoke;
    height: 100%;
}

#about-background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #53817e 0%, #53817e 25%, #53817e 51%, #676aab 100%);
    -webkit-animation: AnimateBG 5s ease infinite;
    animation: AnimateBG 5s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.background-image {
    /* Add background image styling here */
    background-size: cover;
}

/* #profile-photo {
    border-radius: 50%;
} */

/* Portfolio Section Styles */
/* #portfolio {
    padding: 20px;
} */

/* About and Contact Section Styles */
.all-sections {
    text-align: center;
    padding: 50px;
    background-color: rgb(245, 245, 245);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-item {
    text-align: center;
    padding: 20px;
    margin: 10px;
    max-width: 360px;
    /* max-height: 500px; */
}

/* 
.portrait {
    max-width: 360px;
}

.landscape {
    max-width: 480px;
} */

.project-description {
    font-style: italic;
}



.portfolio-item.clickable:hover {
    cursor: pointer;
    scale: 105%;
    transition-duration: 0.3s;
    /* text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.4);   */
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);   */
    /* background-color:lightgrey; */
}

.portfolio-item.clickable:not(:hover) {
    cursor: pointer;
    /* scale: 105%; */
    transition-duration: 0.3s;
    /* text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.4);   */
    /* box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);   */
    /* background-color:lightgrey; */
}

.portfolio-hyperlink {
    color: black;
}

/* .portfolio-item-clickable img.project-thumbnail:hover {
    scale: 115%;
    transition-duration: 0.3s;
} */

.project-thumbnail {
    max-width: 100%;
    max-height: 500px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Adjust the padding as needed */
    background-color: rgb(223, 223, 223);
    /* Set background color if desired */
}

#contact h4 {
    opacity: 50%;
    margin-right: 10px;
}

.website-icon {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 50%;
}

.website-icon a {
    text-decoration: none;
}

.website-icon:hover {
    opacity: 100%;
    transition-duration: 0.5s;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    nav {
        display: none;
    }
}